
.calculator{
    background-color: rgba(0, 0, 0, 0.422);
    height: 55vh;
    /* width:19vw; */
    width:300px;
    margin: auto;
    text-align: center;
   vertical-align: center;
   padding: 20px;
   border-block-color:rgba(12, 216, 234, 0.422); ;
   border: solid;
    border-width: 4px;
   border-radius: 20px;
    box-shadow: 10px 10px 10px;
    
}
input{
    width:240px;
    Height:25px;
    border-radius:8px;
    border: solid;
    border-width:2px;  
}

.coloum{
    /* background-color: brown; */
    /* padding: 5px; */
    margin: 10px;

}

.button{
    margin: 5px;
    width:50px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.953);
    border-radius: 10px;
    font-size: larger;
    text-align: center;
   
}
.button:hover{

    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.981);
}
@media (max-width:386px){
    .calculator{
        width:200px;
        
 }
 input{
    width:140px;
 }
 .button{
    width:32px;
 }
}
